body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-2{
  width: 400px;
  height: 300px;
  background-color: blueviolet;
  position: relative;
}

.con-3{
    width: 100%;
    height: 100vh;
    background-color: rgba(238, 230, 230, 0.873);
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0%;

}

.cancel-con{
  width: 400px;
  height: fit-content;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
}



.button-con{
  width: 40px;
  margin: 0px auto;
  display: flex;
  justify-content: flex-end;
}

.mother-cancel{
  width: 400px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.line{
  width: 100%;
  height: 1px;
  background-color: white;
}

button{
  color: black;
  margin-left: 370px;
  padding: 2px 5px;
}